<style>
  td:has(#cell{{ include.percentage | remove: "." }}) {
    background: linear-gradient(to right, #60ECAD {{ include.percentage }}%, white {{ include.percentage }}%);
  }

  @media (prefers-color-scheme: dark) {
    td:has(#cell{{ include.percentage | remove: "." }}) {
      background: linear-gradient(to right, #006236 {{ include.percentage }}%, rgba(0, 0, 0, 0) {{ include.percentage }}%);
    }
  }
</style>

<a id="cell{{ include.percentage | remove: "." }}" />
{{ include.percentage }}%
